<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🎬 Video Summarizer</title>
    <link rel="stylesheet" href="/static/styles.css">
	<link rel="icon" href="/static/logo.png" type="image/png">
</head>
<body>
    <div class="container">
        <h1>🎥 Video Summarizer</h1>
        <form id="summarizeForm">
            <input type="file" name="file" accept="video/*.mp4" required>
            <button type="submit" id="submitting">Summarize</button>
        </form>

        <button id="toggleSettings">⚙️ Show/Hide Advanced Settings</button>
        <div id="settingsSection" style="display: none;">
            <h3>⚙️ Advanced Settings</h3>
            <fieldset>
                <legend>🎧 Audio Settings</legend>
                <div class="settings-group">
                    <label for="audio-model-path">Audio model:</label>
                    <input type="text" id="audio_model_box">
					
                </div>
                <div class="settings-group">
                    <label for="audio-model-size">Model size:</label>
					<select name="model-size" id="audio_model_size">
						<option value="base">Base</option>
						<option value="tiny">Tiny</option>
						<option value="small">Small</option>
						<option value="medium">Medium</option>
						<option value="large">Large</option>
						<option value="large-v1">Large v1.0</option>
						<option value="large-v2">Large v2.0</option>
						<option value="large-v3">Large v3.0</option>
						<option value="large-v3-turbo">Large v3.0 Turbo</option>
						<option value="turbo">Turbo</option>
					</select>
                </div>
				
				
            </fieldset>

            <fieldset>
                <legend>🎞️ Video Settings</legend>
                <div class="settings-group">
                    <label for="interval">Frame interval (s):</label>
                    <input type="number" id="video_interval_sec" name="interval_sec">
					
                </div>
			
				<div class="settings-group">
                    <label for="scene-stability">Scene stability (sec):</label>
                    <input type="number" id="video_scene_stability_sec" name="scene_stability_sec">
					
                </div>
                <div class="settings-group">
                    <label for="scene-threshold">Scene threshold (sec):</label>
                    <input type="number" id="video_diff_threshold" name="diff_threshold">
					
                </div>
				
            </fieldset>

            <fieldset>
                <legend>🖼️ Frame Settings</legend>
                <div class="settings-group">
                    <label for="clip-model">CLIP Model:</label>
                    <input type="text" id="frame_clip_model_id" name="clip_model_id">
					
                </div>
                <div class="settings-group">
                    <label for="blip-model">BLIP2 Model:</label>
                    <input type="text" id="frame_blip_model_id" name="blip_model_id">
					
                </div>
				
            </fieldset>

            <fieldset>
                <legend>📜 Narrative Settings</legend>
                <div class="settings-group">
                    <label for="caption-threshold">Caption threshold:</label>
                    <input type="number" step="0.01" id="narrative_confidence" name="confidence">
					
                </div>
				<div class="settings-group">
                    <label for="narrative_model">Model ID:</label>
                    <input type="text" id="narrative_model_id" name="model_id">
					
                </div>
				<div class="settings-group">
                    <label for="video">FPS:</label>
                    <input type="number" step="1" id="video_fps" name="fps">
					
                </div>
                <div class="settings-group">
                    <label for="summary-mode">Summary mode:</label>
                    <select name="summary-mode" id="video_summary_mode">
						<option value="short">Short</option>
						<option value="medium">Medium</option>
						<option value="detailed">Detailed</option>
					</select>
                </div>
				
				
            </fieldset>
            <button type="button" id="saveSettings" onclick="saveSettings()">💾 Save Settings</button>
            <button type="button" id="restoreDefaults">♻️ Restore Defaults</button>
        </div>

        <h3>📘 Full Narrative</h3>
        <textarea id="fullNarrative" rows="10" cols="100" readonly></textarea>
		<button id="copyFullBtn" disabled style="background-color: gray">Copy to Clipboard</button>
        <h3>🧾 Summary</h3>
        <textarea id="summaryTextArea" rows="6" cols="100" readonly></textarea>
		<button id="copySumBtn" disabled style="background-color: gray">Copy to Clipboard</button>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
